<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bankcomm.beijing.hr.mapper.UserMapper">
	<cache />
	<select id="getUser" parameterType="string" resultType="com.bankcomm.beijing.hr.entity.User">
		SELECT	* from user where username = #{username}
	</select>
	<select id="getUserList" resultType="User">
		SELECT	* from user
	</select>
	<insert id="addUser" parameterType="User">
		insert into user (username,password) values (#{username},#{password})
	</insert>
	<!-- <update id="updatePwd" parameterType="String">
		update user set password=#{param2} where username= #{param1}
	</update> -->
</mapper>